.container {
  margin: 0 auto;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.container-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile {
  display: flex;
  gap: 0.5rem;
}
.profile p {
  color: #808080;
}
.container button {
  margin-top: 0.5rem;
  width: 100%;
}
