.container {
  margin: 0 auto;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 90vh;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}
.container-form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile {
  display: flex;
  gap: 0.5rem;
}
.profile p {
  color: #808080;
}
.container button {
  margin-top: 0.5rem;
  width: 100%;
}
