.container {
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 80vh;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}
.actions {
  display: flex;
  gap: 0.5rem;
}
.dropdown-select {
  display: flex;
  gap: 1rem;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #ced4da;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  border-radius: 6px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
  font-size: 1rem;
  font-weight: normal;
}
.dropdown-select:hover {
  background-color: #f8f9fa;
  border-color: #4390d4;
}

.container h4 {
  color: crimson;
}

.pageSelect:hover {
  font-weight: 300;
}
.pageSelect:hover {
  color: #4390d4;
  font-weight: 700;
}
