<app-header></app-header>

<div class="container">
  <h3>Lista de Usuarios</h3>

  <div class="actions">
    <button
      (click)="createUser()"
      *ngIf="btnCrear"
      pButton
      pRipple
      label="Crear Usuario"
      class="p-button-success"
    ></button>
    <!-- <p-dropdown
      [(ngModel)]="profileSelected"
      id="profiles"
      [options]="profiles"
      optionLabel="name"
    ></p-dropdown> -->
    <select
      class="dropdown-select"
      [(ngModel)]="profileSelected"
      (change)="handleFilter()"
    >
      <option *ngFor="let profile of profiles">
        {{ profile.name }}
      </option>
    </select>
    <p-button
      icon="pi pi-refresh"
      styleClass="p-button-rounded p-button-info"
      (click)="handleReset()"
    ></p-button>
  </div>

  <p-table [value]="filteredUsers" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Usuario</th>
        <th>Correo</th>
        <th>Perfil</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.profile.name }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<app-footer></app-footer>
