<app-header></app-header>

<div class="container">
  <h3>Lista de Usuarios</h3>

  <div class="actions">
    <button
      (click)="createUser()"
      *ngIf="btnCrear"
      pButton
      pRipple
      label="Crear Usuario"
      class="p-button-success"
    ></button>
    <!-- <p-dropdown
      [(ngModel)]="profileSelected"
      id="profiles"
      [options]="profiles"
      optionLabel="name"
    ></p-dropdown> -->
    <select
      class="dropdown-select"
      [(ngModel)]="profileSelected"
      (change)="handleFilter()"
    >
      <option value="Todos">Todos</option>
      <option *ngFor="let profile of profiles">
        {{ profile.name }}
      </option>
    </select>
  </div>
  <h4 *ngIf="showNullText">No hay datos para este perfil</h4>
  <p-table [value]="filteredUsers" [tableStyle]="{ 'min-width': '30rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Usuario</th>
        <th>Correo</th>
        <th>Perfil</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.profile.name }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div
        style="
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 1rem;
        "
      >
        <p-button
          icon="pi pi-angle-left"
          styleClass="p-button-rounded p-button-text"
          (click)="prevPage()"
        ></p-button>
        <span *ngFor="let page of totalPages; let i = index"
          ><a class="pageSelect" style="cursor: pointer" (click)="setPage(i)">{{
            i + 1
          }}</a></span
        >
        <p-button
          icon="pi pi-angle-right"
          styleClass="p-button-rounded p-button-text"
          (click)="nextPage()"
        ></p-button>
        <span
          ><p>Pagina: {{ pageCount + "/" + totalPagesCount }}</p></span
        >
      </div>
    </ng-template>
  </p-table>
</div>
<app-footer></app-footer>
